# Apple
.DS_Store

# Arduino
# this file allows you to edit the examples on the Arduino IDE
.development

# Visual Studio Code
.vscode/

# Testing
src/src.ino
examples/inst1_classifier/my-model.h
examples/inst1_collecting_data/data
